.App {
  text-align: center;
}

.Foodbox {
  display: flex;
  flex-wrap: wrap;
justify-content: center;
width: 60vw;
margin: auto;
}

.AddFoodForm {
  width: 20vw;
  margin: auto;
  padding-bottom: 40px
}

.Search {
  width: 20vw;
  margin: auto;
  padding-bottom: 40px
}